{% extends "base.html" %}

{% block bodycontent %}

<center><h1>Welcome to Octobear!</h1></center>
<br>
<br>

<div class="container">
    <div class="panel panel-primary">
    
        <div class="panel-heading">
            <center><h3>What are you into today?</h3></center>
        </div>
    
        <div class="panel-body">
            <form method="POST">
                <input class="form-control" type="text" name="query" placeholder="Cats, manatees, rain">
                <br>
                <center>
                    <button type="submit" class="btn btn-primary">Go!</button>
                </center>
            </form>
        </div>
        
    </div>
</div>

{% endblock bodycontent %}
